In [1]:
import pandas as pd
from scipy.stats import pearsonr,ttest_ind,spearmanr
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
data_taiwan=pd.read_csv('./../Datasets/Taiwan_credit_approval.csv')
data_australian=pd.read_csv("./../Datasets/Australian_credit_approval.csv")

In [3]:
data_taiwan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [4]:
data_australian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  690 non-null    int64
 1   A1          690 non-null    int64
 2   A2          690 non-null    float64
 3   A3          690 non-null    float64
 4   A4          690 non-null    int64
 5   A5          690 non-null    int64
 6   A6          690 non-null    int64
 7   A7          690 non-null    float64
 8   A8          690 non-null    int64
 9   A9          690 non-null    int64
 10  A10         690 non-null    int64
 11  A11         690 non-null    int64
 12  A12         690 non-null    int64
 13  A13         690 non-null    int64
 14  A14         690 non-null    int64
 15  Class       690 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 86.4 KB

## Feature selection

In [5]:
from scipy import stats

In [6]:

def correlation_FS(df,src_column,target_column):
    X=df[src_column]
    Y=df[target_column]
    r, p_value = stats.pearsonr(X, Y)
    n = len(X)
    DF = n - 2
    t_value = r * np.sqrt(DF / (1 - r**2))

    print(f"Column {src_column}")
    print("Pearson R:", r)
    print("t-value:", t_value)
    print("p-value:", p_value)
    print("Degrees of Freedom (DF):", DF/n)
    print("\n\n\n")

In [7]:
data_taiwan.drop(columns=["ID"],inplace=True)
data_australian.drop(columns=["CustomerID"],inplace=True)

In [8]:
for i in data_taiwan.columns:
    correlation_FS(data_taiwan,i,"default.payment.next.month")

Column LIMIT_BAL
Pearson R: -0.1535198763935074
t-value: -26.908521684796533
p-value: 1.3022439532609449e-157
Degrees of Freedom (DF): 0.9999333333333333




Column SEX
Pearson R: -0.03996057770544157
t-value: -6.926677006157902
p-value: 4.395248803275635e-12
Degrees of Freedom (DF): 0.9999333333333333




Column EDUCATION
Pearson R: 0.028006077656249958
t-value: 4.85253663980486
p-value: 1.2250380333251085e-06
Degrees of Freedom (DF): 0.9999333333333333




Column MARRIAGE
Pearson R: -0.02433921568340429
t-value: -4.216784484290543
p-value: 2.48536388614242e-05
Degrees of Freedom (DF): 0.9999333333333333




Column AGE
Pearson R: 0.013889834301963194
t-value: 2.40594177499624
p-value: 0.016136845890165334
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_0
Pearson R: 0.3247937284786218
t-value: 59.47869340887278
p-value: 0.0
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_2
Pearson R: 0.2635512016721648
t-value: 47.319859846015895
p-value: 0.0
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_3
Pearson R: 0.2352525137249159
t-value: 41.92214741668765
p-value: 0.0
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_4
Pearson R: 0.21661363684242435
t-value: 38.42975367280761
p-value: 1.89929659e-315
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_5
Pearson R: 0.2041489138761663
t-value: 36.11912479158268
p-value: 1.1266079544963682e-279
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_6
Pearson R: 0.18686636165354487
t-value: 32.94544710760886
p-value: 7.296740483277078e-234
Degrees of Freedom (DF): 0.9999333333333333




Column BILL_AMT1
Pearson R: -0.01964419714322153
t-value: -3.4030180011709636
p-value: 0.0006673295491221937
Degrees of Freedom (DF): 0.9999333333333333




Column BILL_AMT2
Pearson R: -0.014193218088215715
t-value: -2.458503181278919
p-value: 0.013957362392435353
Degrees of Freedom (DF): 0.9999333333333333




Column BILL_AMT3
Pearson R: -0.014075518043214769
t-value: -2.4381115045173587
p-value: 0.014769982710723932
Degrees of Freedom (DF): 0.9999333333333333




Column BILL_AMT4
Pearson R: -0.010156495880289685
t-value: -1.7591887859983384
p-value: 0.07855564157651382
Degrees of Freedom (DF): 0.9999333333333333




Column BILL_AMT5
Pearson R: -0.006760463841014717
t-value: -1.17093441175384
p-value: 0.24163444291382657
Degrees of Freedom (DF): 0.9999333333333333




Column BILL_AMT6
Pearson R: -0.005372314914815511
t-value: -0.9304946490374821
p-value: 0.35212252123065296
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_AMT1
Pearson R: -0.07292948777785138
t-value: -12.665062557364726
p-value: 1.1464876142240179e-36
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_AMT2
Pearson R: -0.05857870658290091
t-value: -10.16324378603414
p-value: 3.1666567628383658e-24
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_AMT3
Pearson R: -0.05625035099033113
t-value: -9.757971658572274
p-value: 1.841770291502997e-22
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_AMT4
Pearson R: -0.05682740089288768
t-value: -9.858397459473979
p-value: 6.83094160136815e-23
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_AMT5
Pearson R: -0.05512351562108844
t-value: -9.56189315994179
p-value: 1.2413447727774134e-21
Degrees of Freedom (DF): 0.9999333333333333




Column PAY_AMT6
Pearson R: -0.05318334032612809
t-value: -9.224372354111592
p-value: 3.033589072770846e-20
Degrees of Freedom (DF): 0.9999333333333333




Column default.payment.next.month
Pearson R: 1.0
t-value: inf
p-value: 0.0
Degrees of Freedom (DF): 0.9999333333333333

C:\Users\mahboub\AppData\Local\Temp\ipykernel_8328\263857691.py:7: RuntimeWarning: divide by zero encountered in scalar divide
  t_value = r * np.sqrt(DF / (1 - r**2))

In [9]:
for i in data_australian.columns:
    correlation_FS(data_australian,i,"Class")

Column A1
Pearson R: -0.013897069428284977
t-value: -0.36455191816518384
p-value: 0.7155579318771604
Degrees of Freedom (DF): 0.9971014492753624




Column A2
Pearson R: 0.16162586606830814
t-value: 4.295888610146796
p-value: 1.9905786603283438e-05
Degrees of Freedom (DF): 0.9971014492753624




Column A3
Pearson R: 0.20629373864503908
t-value: 5.5299833761481585
p-value: 4.551680702308172e-08
Degrees of Freedom (DF): 0.9971014492753624




Column A4
Pearson R: 0.1943060656190666
t-value: 5.195623963175476
p-value: 2.691620404324462e-07
Degrees of Freedom (DF): 0.9971014492753624




Column A5
Pearson R: 0.3737116129190001
t-value: 10.568074067310375
p-value: 2.7108920363859253e-24
Degrees of Freedom (DF): 0.9971014492753624




Column A6
Pearson R: 0.24656748770400927
t-value: 6.673442961798972
p-value: 5.144130357691479e-11
Degrees of Freedom (DF): 0.9971014492753624




Column A7
Pearson R: 0.3224753582553847
t-value: 8.935819983773705
p-value: 3.671053740160111e-18
Degrees of Freedom (DF): 0.9971014492753624




Column A8
Pearson R: 0.7204068158989549
t-value: 27.24539853546763
p-value: 1.9368208799735035e-111
Degrees of Freedom (DF): 0.9971014492753624




Column A9
Pearson R: 0.4583013316079435
t-value: 13.525172663036694
p-value: 3.941258302842855e-37
Degrees of Freedom (DF): 0.9971014492753624




Column A10
Pearson R: 0.40641000876395544
t-value: 11.667004222431279
p-value: 7.957718568079655e-29
Degrees of Freedom (DF): 0.9971014492753624




Column A11
Pearson R: 0.03162481448371764
t-value: 0.8299262276960939
p-value: 0.4068683677059403
Degrees of Freedom (DF): 0.9971014492753624




Column A12
Pearson R: 0.11526093232909752
t-value: 3.0435504168137477
p-value: 0.0024271468147297973
Degrees of Freedom (DF): 0.9971014492753624




Column A13
Pearson R: -0.09997240789126352
t-value: -2.6354547507938175
p-value: 0.008591752438643411
Degrees of Freedom (DF): 0.9971014492753624




Column A14
Pearson R: 0.1756572009935051
t-value: 4.680216020964486
p-value: 3.4520256956287965e-06
Degrees of Freedom (DF): 0.9971014492753624




Column Class
Pearson R: 1.0
t-value: inf
p-value: 0.0
Degrees of Freedom (DF): 0.9971014492753624

C:\Users\mahboub\AppData\Local\Temp\ipykernel_8328\263857691.py:7: RuntimeWarning: divide by zero encountered in scalar divide
  t_value = r * np.sqrt(DF / (1 - r**2))

In [10]:
def SFS_correlation(df, target_col, alpha=0.01):

    features = [col for col in df.columns if col != target_col]
    selected_features = []

    while True:
        best_feature = None
        best_score = 0
        best_p = 1

        for f in features:
            if f in selected_features:
                continue

            r, p = stats.pearsonr(df[f], df[target_col])
            score = abs(r)

            if p < alpha and score > best_score:
                best_score = score
                best_feature = f
                best_p = p

        if best_feature is None:
            break

        selected_features.append(best_feature)
        print(f"Selected: {best_feature} | |r| = {best_score:.4f} | p = {best_p:.4f}")

    return selected_features

In [11]:
selected_features_taiwan_SFS=SFS_correlation(data_taiwan,"default.payment.next.month")

Selected: PAY_0 | |r| = 0.3248 | p = 0.0000
Selected: PAY_2 | |r| = 0.2636 | p = 0.0000
Selected: PAY_3 | |r| = 0.2353 | p = 0.0000
Selected: PAY_4 | |r| = 0.2166 | p = 0.0000
Selected: PAY_5 | |r| = 0.2041 | p = 0.0000
Selected: PAY_6 | |r| = 0.1869 | p = 0.0000
Selected: LIMIT_BAL | |r| = 0.1535 | p = 0.0000
Selected: PAY_AMT1 | |r| = 0.0729 | p = 0.0000
Selected: PAY_AMT2 | |r| = 0.0586 | p = 0.0000
Selected: PAY_AMT4 | |r| = 0.0568 | p = 0.0000
Selected: PAY_AMT3 | |r| = 0.0563 | p = 0.0000
Selected: PAY_AMT5 | |r| = 0.0551 | p = 0.0000
Selected: PAY_AMT6 | |r| = 0.0532 | p = 0.0000
Selected: SEX | |r| = 0.0400 | p = 0.0000
Selected: EDUCATION | |r| = 0.0280 | p = 0.0000
Selected: MARRIAGE | |r| = 0.0243 | p = 0.0000
Selected: BILL_AMT1 | |r| = 0.0196 | p = 0.0007

In [12]:
selected_features_australian_SFS=SFS_correlation(data_australian,"Class")

Selected: A8 | |r| = 0.7204 | p = 0.0000
Selected: A9 | |r| = 0.4583 | p = 0.0000
Selected: A10 | |r| = 0.4064 | p = 0.0000
Selected: A5 | |r| = 0.3737 | p = 0.0000
Selected: A7 | |r| = 0.3225 | p = 0.0000
Selected: A6 | |r| = 0.2466 | p = 0.0000
Selected: A3 | |r| = 0.2063 | p = 0.0000
Selected: A4 | |r| = 0.1943 | p = 0.0000
Selected: A14 | |r| = 0.1757 | p = 0.0000
Selected: A2 | |r| = 0.1616 | p = 0.0000
Selected: A12 | |r| = 0.1153 | p = 0.0024
Selected: A13 | |r| = 0.1000 | p = 0.0086

In [13]:
selected_features_australian_CFS=["A2","A3","A4","A5","A6","A7","A8","A9","A10","A12","A13","A14"]

In [14]:
df_taiwan_CFS=data_taiwan.drop(columns=["SEX","EDUCATION","MARRIAGE"]).copy()
df_australian_CFS=data_australian[selected_features_australian_CFS].copy()
df_australian_SFS=data_australian[selected_features_australian_SFS].copy()
df_taiwan_SFS=data_taiwan[selected_features_taiwan_SFS].copy()

In [15]:
df_taiwan_CFS.to_csv("../Datasets/CFS/taiwan_CSF.csv")
df_australian_CFS.to_csv("../Datasets/CFS/australian_CFS.csv")
df_taiwan_SFS.to_csv("../Datasets/SFS/taiwan_SSF.csv")
df_australian_SFS.to_csv("../Datasets/SFS/australian_SFS.csv")