In [22]:
import pandas as pd
from scipy.stats import pearsonr,ttest_ind

In [2]:
data=pd.read_csv('./../Datasets/Taiwan_credit_approval.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [4]:
data.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [5]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [19]:
Demographic_indicators=["SEX","AGE","EDUCATION","MARRIAGE"]
Finance_indicators=["LIMIT_BAL"]
Behavioral_indicators=["PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"]

## preprocessing

In [ ]:
#preprocessing

In [24]:
#T-test


def T_test(feature, target):
    group0 = feature[target == 0]
    group1 = feature[target == 1]
    if len(group0) < 2 or len(group1) < 2:
        return None  
    t_stat, p_val = ttest_ind(group0, group1)
    return round(t_stat, 4)

## Feature selection

In [25]:
#R

# Demographic_indicator
print("Demographic_indicator: ")
for column in Demographic_indicators:
    print(f"{column} R={pearsonr(data[column],data['default.payment.next.month'])[0]} \n{column} P_value ={pearsonr(data[column],data['default.payment.next.month'])[1]}")
    print(f"{column} T-test={T_test(data[column],data['default.payment.next.month'])}")
# Finance_indicator
print("Financial_indicator: ")
for column in Finance_indicators:
    print(f"{column} R={pearsonr(data[column],data['default.payment.next.month'])[0]} \n{column} P_value ={pearsonr(data[column],data['default.payment.next.month'])[1]}")
    print(f"{column} T-test={T_test(data[column],data['default.payment.next.month'])}")

#Behavioral_indicator
print("Behavioral_indicator :")

for column in Behavioral_indicators:
  
    print(f"{column} R={pearsonr(data[column],data['default.payment.next.month'])[0]} \n{column} P_value ={pearsonr(data[column],data['default.payment.next.month'])[1]}")
    print(f"{column} T-test={T_test(data[column],data['default.payment.next.month'])}")

Demographic_indicator:
SEX R=-0.03996057770544157
SEX P_value =4.395248803275635e-12
SEX T-test=6.9267
AGE R=0.013889834301963194
AGE P_value =0.016136845890165334
AGE T-test=-2.4059
EDUCATION R=0.028006077656249958
EDUCATION P_value =1.2250380333251085e-06
EDUCATION T-test=-4.8525
MARRIAGE R=-0.02433921568340429
MARRIAGE P_value =2.48536388614242e-05
MARRIAGE T-test=4.2168
Financial_indicator:
LIMIT_BAL R=-0.1535198763935074
LIMIT_BAL P_value =1.3022439532609449e-157
LIMIT_BAL T-test=26.9085
Behavioral_indicator :
PAY_0 R=0.3247937284786218
PAY_0 P_value =0.0
PAY_0 T-test=-59.4787
PAY_2 R=0.2635512016721648
PAY_2 P_value =0.0
PAY_2 T-test=-47.3199
PAY_3 R=0.2352525137249159
PAY_3 P_value =0.0
PAY_3 T-test=-41.9221
PAY_4 R=0.21661363684242435
PAY_4 P_value =1.89929659e-315
PAY_4 T-test=-38.4298
PAY_5 R=0.2041489138761663
PAY_5 P_value =1.1266079544963682e-279
PAY_5 T-test=-36.1191
PAY_6 R=0.18686636165354487
PAY_6 P_value =7.296740483277078e-234
PAY_6 T-test=-32.9454
BILL_AMT1 R=-0.01964419714322153
BILL_AMT1 P_value =0.0006673295491221937
BILL_AMT1 T-test=3.403
BILL_AMT2 R=-0.014193218088215715
BILL_AMT2 P_value =0.013957362392435353
BILL_AMT2 T-test=2.4585
BILL_AMT3 R=-0.014075518043214769
BILL_AMT3 P_value =0.014769982710723932
BILL_AMT3 T-test=2.4381
BILL_AMT4 R=-0.010156495880289685
BILL_AMT4 P_value =0.07855564157651382
BILL_AMT4 T-test=1.7592
BILL_AMT5 R=-0.006760463841014717
BILL_AMT5 P_value =0.24163444291382657
BILL_AMT5 T-test=1.1709
BILL_AMT6 R=-0.005372314914815511
BILL_AMT6 P_value =0.35212252123065296
BILL_AMT6 T-test=0.9305
PAY_AMT1 R=-0.07292948777785138
PAY_AMT1 P_value =1.1464876142240179e-36
PAY_AMT1 T-test=12.6651
PAY_AMT2 R=-0.05857870658290091
PAY_AMT2 P_value =3.1666567628383658e-24
PAY_AMT2 T-test=10.1632
PAY_AMT3 R=-0.05625035099033113
PAY_AMT3 P_value =1.841770291502997e-22
PAY_AMT3 T-test=9.758
PAY_AMT4 R=-0.05682740089288768
PAY_AMT4 P_value =6.83094160136815e-23
PAY_AMT4 T-test=9.8584
PAY_AMT5 R=-0.05512351562108844
PAY_AMT5 P_value =1.2413447727774134e-21
PAY_AMT5 T-test=9.5619
PAY_AMT6 R=-0.05318334032612809
PAY_AMT6 P_value =3.033589072770846e-20
PAY_AMT6 T-test=9.2244

In [ ]:
# p-value with df=0.95

In [ ]:
#correlation-based feature selection

In [ ]:
# Sequential Forward Selection